<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Masterbundle/css")
    @RenderSection("links", required: false)
    @RenderSection("styles", required: false)
    <style>
        .radio, .checkbox {
            position: relative;
            display: block;
            margin-top: 10px;
            margin-bottom: 13px;
            display: inline-block;
            margin-left: 35px;
        }

        .navbar-default {
            width: 100%;
            height: 60px;
        }

        .panel-default {
            margin-top: 35px;
            margin-left: 120px;
            width: 1200px;
        }

        .navbar-brand {
            float: left;
            padding: 2px 20px;
            font-size: 18px;
            line-height: 20px;
        }

        .form-contol-group {
            margin-bottom: 4px;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="~/Content/logo.png">
                </a>
            </div>
            <div style="float: right">
                @if (Request.IsAuthenticated)
                {
                    <text>
                        User: @Html.ActionLink(User.Identity.Name, "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })&nbsp;||&nbsp;
                        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", style = "display:inline-block;" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
                        }
                    </text>
                }
                else
                {
                    <text>
                        @Html.ActionLink("Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "LoginLink" })&nbsp;||&nbsp;
                        @Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })
                    </text>
                }
            </div>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/Masterbundle/all");
    @RenderSection("scripts", required: false)
</body>
</html>
